@using DoAnLTWeb.Models;
@{
    ViewBag.Title = "Danh sách bài viết";
}
<!-- START PAGE CONTENT-->
<div class="page-heading">
    <h1 class="page-title">Danh sách bài viết</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Dashboard","Dashboard")"><i class="la la-home font-20"></i></a>
        </li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên bài viết</th>
                                    <th>Ngày đăng</th>
                                    <th>Tài khoản</th>
                                    <th>Trạng thái</th>
                                    <th>Lệnh - Công cụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (BaiViet i in (new ShopOnlineEntities().BaiViets.Where(m=>m.daDuyet==true).ToList<BaiViet>()))
                                    {
                                        <tr>
                                            <td><img src="@i.hinhDD" /> @i.tenBV</td>
                                            @* hh:giờ - mm:Phút - dd:Ngày - MM: Tháng - yyyy:Năm  *@
                                            <td>@string.Format("{0:hh:mm dd/MM/yyyy}", i.ngayDang)</td>
                                            @*---TaiKhoan1: Đối tượng tài khoản hay đăng bài *@
                                            <td>@i.TaiKhoan1.tenTV </td>
                                            <td>@{if (i.daDuyet==true) {<span class="bg-green">Đang hiện</span> }
                                                else {<span class="bg-red">Đã ẩn</span> } }</td>
                                            <td>
                                                <div class="text-center ">
                                                    @using (Html.BeginForm("Active", "BaiViet", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="maBaiViet" value="@i.maBV" />
                                                        <button class="btn-success" title="Ẩn/Hiện bài viết ">
                                                            @{ if (i.daDuyet==true)
                                                                {<i class="fa fa-solid fa-eye-slash"></i>}
                                                                else
                                                                {<i class="fa fa-solid fa-eye"></i>}}
                                                        </button>
                                                    }   
                                                    @using (Html.BeginForm("Update", "BaiViet", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="mabv" value="@i.maBV" />
                                                        <button class="btn-info" title="Chỉnh sửa bài viết">
                                                            <i class="fa fa-wrench" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                    @using (Html.BeginForm("Delete", "BaiViet", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="maBV" value="@i.maBV" />
                                                        <button class="btn-danger" title="Xóa bài viết">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    }
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tên bài viết</th>
                                    <th>Ngày đăng</th>
                                    <th>Tài khoản</th>
                                    <th>Trạng thái</th>
                                    <th>Lệnh - Công cụ</th>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <div class="col-lg-12 col-md-11">
        @*<div class="row">
                @{
                    foreach (BaiViet i in (new ShopOnlineEntities().BaiViets.ToList()))
                    {
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="@i.hinhDD" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> @i.ngayDang</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>
                                    <h5><a href="@Url.Action("BlogDetails","Blog",new {mabv=i.maBV})">@i.tenBV</a></h5>
                                    <p>
                                        @i.ndTomTat
                                    </p>
                                    <a href="@Url.Action("BlogDetails","Blog",new {mabv=i.maBV})" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>*@
    </div>
</div>
            <!-- END PAGE CONTENT-->
            <footer class="page-footer">
                <div class="font-13">2018 © <b>AdminCAST</b> - All rights reserved.</div>
                <a class="px-4" href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589" target="_blank">BUY PREMIUM</a>
                <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
            </footer>